<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thirdlibstudy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE/"/>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".butterknife.ButterknifeMainActivity"/>
        <activity android:name=".eventbus.EventBusOneActivity"/>
        <activity android:name=".eventbus.EventBusTwoActivity"/>
        <activity android:name=".glide.GlideMainActivity"/>
        <activity android:name=".glide.GlideSecondActivity"/>
        <activity android:name=".retrofit.RetrofitMainActivity"/>
        <activity android:name=".glide.GlideLoadImgMain"/>
        <activity android:name=".rxjavademo.RxJavaMain"/>


        <activity android:name=".rxjavademo.module.HomeActivity"/>


        <!--操作符-->
        <activity android:name=".rxjavademo.module.rxjava2.operators.RxOperatorsActivity">
        </activity>

        <!-- Create -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxCreateActivity">
        </activity>

        <!-- Just -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxJustActivity">
        </activity>

        <!-- Map -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxMapActivity">
        </activity>

        <!-- FlatMap -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxFlatMapActivity">
        </activity>

        <!-- concatMap -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxConcatMapActivity">
        </activity>

        <!-- take -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxTakeActivity">
        </activity>

        <!-- interval -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxIntervalActivity">
        </activity>

        <!-- timer -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxTimerActivity">
        </activity>

        <!-- zip -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxZipActivity">
        </activity>

        <!-- doOnNext -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxDoOnNextActivity">
        </activity>

        <!-- filter -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxFilterActivity">
        </activity>

        <!-- skip -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxSkipActivity">
        </activity>

        <!-- single -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxSingleActivity">
        </activity>

        <!-- buffer -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxBufferActivity">
        </activity>

        <!-- distinct -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxDistinctActivity">
        </activity>

        <!-- concat -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxConcatActivity">
        </activity>

        <!-- WebView -->
        <activity android:name=".rxjavademo.module.web.WebViewActivity"/>

        <!-- defer -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxDeferActivity"/>

        <!-- reduce -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxReduceActivity"/>

        <!-- debounce -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxDebounceActivity"/>

        <!-- last -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxLastActivity"/>

        <!-- merge -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxMergeActivity"/>

        <!-- scan -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxScanActivity"/>

        <!-- window -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxWindowActivity"/>

        <!-- PublishSubject -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxPublishSubjectActivity"/>

        <!-- AsyncSubject -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxAsyncSubjectActivity"/>

        <!-- BehaviorSubject -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxBehaviorSubjectActivity"/>

        <!-- Completable -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxCompletableActivity"/>

        <!-- Flowable -->
        <activity android:name=".rxjavademo.module.rxjava2.operators.item.RxFlowableActivity"/>

        <!--simple networking-->
        <activity android:name=".rxjavademo.module.rxjava2.usecases.okHttp.RxNetSingleActivity"/>

        <!--rx-networking-->
        <activity android:name=".rxjavademo.module.rxjava2.usecases.fastNetwork.RxNetworkActivity"/>

        <!--多个网络接口数据合并后再更新UI-->
        <activity android:name=".rxjavademo.module.rxjava2.usecases.zip.RxCaseZipActivity"/>

        <!--多个网络请求依次依赖-->
        <activity android:name=".rxjavademo.module.rxjava2.usecases.flatMap.RxCaseFlatMapActivity"/>
        <activity android:name=".rxjavademo.module.rxjava2.usecases.concat.RxCaseConcatActivity"/>
        <activity android:name=".rxjavademo.module.rxjava2.usecases.debounce.RxCaseDebounceActivity"/>
        <activity android:name=".rxjavademo.module.rxjava2.usecases.interval.RxCaseIntervalActivity"/>
        <activity android:name=".rxjavademo.module.rxjava2.Thread.RxThreadActivity"/>

        

        <activity android:name=".robust.RobustMain"/>
        <activity android:name=".robust.SecondActivity"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.thirdlibstudy.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.example.myretrofit.use.CustomRetrofitMainActivity"/>

    </application>

</manifest>